
body{
    background-image: url("neige.jpg");
    background-attachment: fixed;
    font-family: Verdana, "Arial Black", Arial, Verdana, sans-serif;
}

h2 {
    margin-bottom: 1em;
    background-color: rgb(116, 136, 177);
    text-align: center;


}
h3 {color: rgb(17, 16, 16);
    text-align: center;
    
}


